*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Ignore bundler config.
/api/.bundle

# Ignore the default SQLite database.
/api/db/*.sqlite3
/api/db/*.sqlite3-*

# Ignore all logfiles and tempfiles.
/api/log/*
/api/tmp/*
!/api/log/.keep
!/api/tmp/.keep

# Ignore pidfiles, but keep the directory.
/api/tmp/pids/*
!/api/tmp/pids/
!/api/tmp/pids/.keep

# Ignore uploaded files in development.
/api/storage/*
!/api/storage/.keep
/api/tmp/storage/*
!/api/tmp/storage/
!/api/tmp/storage/.keep

/api/public/assets

# Ignore master key for decrypting credentials and more.
/api/config/master.key

